@page "/discipline"
@layout Gsystem.Layout.SimpleLayout

<PageTitle>Prefect of Discipline</PageTitle>

<h2>Prefect of Discipline</h2>
<p>Information on policies and restorative practices. Placeholder content.</p>


