@page "/resources"
@layout Gsystem.Layout.SimpleLayout

<PageTitle>Resources</PageTitle>

<h2>Resources</h2>
<ul>
    <li><a href="#">School Rules (PDF)</a></li>
    <li><a href="#">Counseling Tips</a></li>
    <li><a href="#">Forms and Documents</a></li>
</ul>


