services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__dbconstring=server=db;database=eprofilr;UID=root;password=adminadmin
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=adminadmin
      - MYSQL_DATABASE=eprofilr
    volumes:
      - mysql_data:/var/lib/mysql
      # Uncomment the next line if you have an initial SQL script to populate the DB
      # - ./eprofilr_dump.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-padminadmin"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
