@inherits LayoutComponentBase

<div class="plain-layout">
    @Body
</div>

<style>
    .plain-layout {
        width: 100%;
        min-height: 100vh;
        background-color: #f3f4f6;
    }
</style>
